/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

body {
    @apply font-sans;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css or any custom CSS file */
/* Define the keyframes for the sliding animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Apply the animation to the slider */
.infinite-slider {
  display: flex;
  animation: slide infinite;
  white-space: nowrap;
}
/* Card.css */

.perspective {
perspective: 1000px;
}

.card-inner {
transition: transform 0.6s;
transform-style: preserve-3d;
position: relative;
}

.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.card-front {
background: #ffffff;
}

.card-back {
background: #2e5090;
transform: rotateY(180deg);
}

.perspective:hover .card-inner {
transform: rotateY(180deg);
}
/* ****************************** */
.slider-container {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-content {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f3f3f3;
  text-align: center;
  border: 1px solid #ddd;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

